/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to comment_create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

@import 'header.scss';
@import 'footer.scss';
/* app/assets/stylesheets/application.css */

html, body {
    height: 100%; /* Full height for the html and body */
    margin: 0;    /* Remove default margin */
}

body {
    display: flex;           /* Use flexbox to layout body */
    flex-direction: column;  /* Stack child elements vertically */
}


.container {
    flex: 1; /* This allows the container to grow and fill available space */
}

.footer {
    background-color: #f8f9fa; /* Light background for the footer */
}
